.carousel {
	align-items: center;
	display: flex;
	margin: 2rem auto;
	overflow: hidden;
	position: relative;
	width: 228px;
	left: 50%;
	transform: translateX(-60%);
}
.carousel__images {
	display: flex;
	transform: translateX(0);
	transition: transform 0.25s;
}
.carousel__images video {
	border-radius: 5px;
}
.carousel__button {
	border: 0;
	border-radius: 50%;
	color: black;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	height: 3rem;
	opacity: 0.4;
	position: absolute;
	transition: opacity 0.25s;
	width: 3rem;
	z-index: 1;
}
.carousel__button.previous {
	left: 5px;
}
.carousel__button.next {
	right: 5px;
}
.carousel__button:hover {
	opacity: 0.6;
}